@import "layout/var";

.results {
  margin-top: 200px;
  overflow: hidden;
  position: relative;
  padding-bottom: calc(250px + 100px);

  @media (max-width: $xs) {
    margin-top: 80px;
  }

  &__left-dots {
    position: absolute;
    top: 88px;

    img {
      max-width: 100%;
    }
  }

  &__right-dots {
    position: absolute;
    top: 269px;
    left: 63.59%;
    width: 1235px;

    img {
      max-width: 100%;
    }
  }

  &__bottom-dots {
    position: absolute;
    bottom: 100px;
    left: 5.78%;
  }

  &__bottom-dots2 {
    position: absolute;
    bottom: calc(100px - 220px);
    left: calc(5.78% + 222px + 5px);
  }

  &__shadow {
    width: 733px;
    height: 393px;
    box-shadow: 0px 40px 250px rgba(182, 138, 96, 0.4);
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: $lg) {
      width: 599px;
    }

    @media (max-width: $md) {
      width: 499px;
    }

    @media (max-width: $xs) {
      width: calc(100% - 60px);
      height: 150px;
      right: 30px;
      bottom: 70px;
    }
  }

  .container {
    position: relative;
  }
}

.results-slider {
  margin-top: 67px;
  position: relative;

  @media (max-width: $xs) {
    margin-top: 50px;
  }

  .owl-nav {
    width: 404px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 97px;

    @media (max-width: $md) {
      bottom: 15px;
    }

    @media (max-width: $sm) {
      bottom: -80px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $xs) {
      display: none;
    }

    button {
      background: white!important;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
      width: 44px;
      height: 44px;
      border-radius: 50%;
      position: relative;

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      &:before {
        content: '';
        display: block;
        color: transparent;
        width: 13px;
        height: 25px;
        background: url('../img/slider-arrow-grey.svg');
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -12px 0 0 -5px;
      }

      &:after {
        content: '';
        display: block;
        color: transparent;
        width: 13px;
        height: 25px;
        background: url('../img/slider-arrow-bronze.svg');
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -12px 0 0 -5px;
        opacity: 0;
        transition: 0.3s;
      }

      &.owl-prev {
        &:before, &:after {
          margin-left: -9px;
          transform: scale(-1, 1);
        }
      }

      &.owl-next {

      }

      span {
        display: none;
      }
    }
  }

  .owl-dots {
    width: 316px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 108px;
    left: 44px;

    @media (max-width: $md) {
      bottom: 27px;
    }

    @media (max-width: $sm) {
      bottom: -68px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $xs) {
      max-width: 100%;
      bottom: -40px;
    }

    .owl-dot {
      width: 20px;
      height: 20px;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: 0.3s;
      margin: 0 4px;

      &.active {
        border-color: #B88C62;
      }

      span {
        display: block;
        width: 12px;
        height: 12px;
        background: #B88C62;
        border-radius: 50%;
        margin-left: 3px;
      }
    }
  }
}

.results-item {
  display: flex;
  align-items: center;

  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__content {
    width: 100%;
    padding-right: 80px;
    padding-bottom: 84px;
    font-weight: 100;
    font-size: 30px;
    line-height: 35px;

    @media (max-width: $sm) {
      padding-right: 0;
      padding-bottom: 50px;
    }

    @media (max-width: $xs) {
      font-size: 20px;
    }

    span {
      color: $bronze;
      font-weight: 700;
      font-size: 28px;

      @media (max-width: $xs) {
        font-size: 20px;
      }

      strong {
        font-size: 55px;
        line-height: 80px;

        @media (max-width: $xs) {
          font-size: 40px;
          line-height: 60px;
        }
      }
    }
  }

  &__image {
    width: 733px;
    height: 393px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: $lg) {
      width: 600px;
    }

    @media (max-width: $md) {
      width: 500px;
    }

    @media (max-width: $sm) {
      width: 100%;
    }

    @media (max-width: $xs) {
      height: 250px;
    }
  }

  /*&__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;

    &:before {
      content: '';
      display: block;
      padding-top: 53.61%;
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }
  }*/
}