@import "layout/var";

.top {
  background: url('../img/top-bg.jpg') no-repeat center;
  background-size: cover;
  height: 921px;
  position: relative;

  @media (max-width: $sm) {
    height: 600px;
  }

  @media (max-width: $xs) {
    height: auto;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0.5deg, #000000 -3.46%, rgba(182, 138, 96, 0.72) 173.88%);
  }

  &__dots {
    position: absolute;
    top: 192px;
    max-width: 64%;

    img {
      max-width: 100%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 49.11%;

    @media (max-width: $xs) {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  &__content {
    padding-top: 313px;
    position: relative;
    max-width: 753px;

    @media (max-width: $sm) {
      max-width: 450px;
      padding-top: 200px;
    }

    @media (max-width: $xs) {
      max-width: 100%;
      padding-top: 70px;
      padding-bottom: 50px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    margin-top: 32px;
  }

  &__button {
    margin-top: 60px;
    background: linear-gradient(105.22deg, #B88C62 6.89%, #A07246 90.52%);
    font-size: 18px;
    line-height: 21px;
    color: white;
    cursor: pointer;
    width: 250px;
    height: 70px;
  }
}